// padding: top right bottom left

.counter-header {
    color: $white;
    margin: $m-size 0 0 0;
    padding: 0;
    width: $l-size;
    font-family: $poppins;
}

.counter-left {
    margin: $s-size 0 $l-size 0;
    float: left;
    clear: both;
    width: 3rem;
    height: 2.4rem;
}

.counter-right {
    margin: $s-size 0 $l-size 0;
    float: right;
    width: 3rem;
    height: 2.4rem;
}

.increaseone {
    // padding: 0 $s-size 0 $s-size;
    margin: $s-size 0 0 $l-size;
    height: 3rem;
    font-family: $poppins;
}

.decreaseone {
    // padding: 0 $s-size 0 $s-size;
    margin: $s-size 0 $l-size 0;
    height: 3rem;
    font-family: $poppins;
}

.counter-option-left {
    display: flex;
    justify-content: right;
    margin: 0;
    float: left;
    clear: both;
    width: 2rem;
}

.counter-option-right {
    display: flex;
    justify-content: left;
    margin: 0;
    float: right;
    width: 2rem;
}