.header {
    background: $light-blue;
    padding-top: 5px;
    padding-bottom: 17px;
}
.banner-spacer {
    position: absolute;
    background-color: $blue;
    top: 9.1%;
    left: 83%;
    width: 17%;
    height: 63.8%;
}

.banner-container {
    width: 100%;
    background-color: $light-blue;
}

.header__logo {
    padding-left: 5.5rem;
}

.header__title {
    color: $white;
    position: absolute;
    top: 26.5rem;
    font-size: 5rem;
    font-family: $roboto;
    margin: 0 auto;
    padding: $m-size 0 $l-size 10.3%;
}

.header__subtitle {
    position: absolute;
    top: 35.5rem;
    color: $white;
    font-size: $l-size;
    font-family: $roboto;
    font-weight: 50;
    margin: 0 auto;
    padding: 0 0 0 10.3%;
}

.westtointrado {
    position: absolute;
    top: 25rem;
    left: 75%;
    width: 25%;
}

.banner {
    position: absolute;
    top: 24rem;
    width: 100%;
    height: 28rem;
    background-color: $light-blue;
    opacity: .2;
}


@media (min-width: $desktop-breakpoint) {
    .header {
        margin: 0 0 $xl-size 0;
    }
}