.option {
    display: flex;
    justify-content: right;
    margin: $m-size $s-size;
    clear: both;
    max-width: 60rem;
}

.option-left {
    display: flex;
    justify-content: right;
    margin: $m-size $s-size;
    float: left;
    clear: both;
    width: 20rem;
}

.option-right {
    display: flex;
    justify-content: left;
    margin: $m-size $s-size;
    float: right;
    width: 20rem;
}