.product__header {
    color: $purple;
    font-family: $roboto;
    padding: 0 0 0 0;
    font-size: 3.9rem;
    font-weight: 10rem;
}

.product__body {
    font-family: $roboto;
    padding: 0 0 0 0;
    font-size: 3rem;
    font-weight: 3rem;
}

.product__wrapper {
    border: 1px solid;
    border-radius: 1rem;
    height: 55%;
    max-width: 45%;
    padding: 0 0 0 15%;
}

.product__logo {
    border: .5 solid;
    width: 50%;
    padding: 3% 0 3% 0;
    margin: auto;
}

.product__name {
    font-family: $roboto;
    font-size: 3rem;
    position: relative;
    left: -5rem;
    text-align: center;
}