// Big Button
.big_button_purple {
    background: $white;
    border: 1px solid $purple;
    border-radius: 1rem;
    color: $purple;
    font-weight: bold;
    font-size: $m-size;
    width: 51%;
    margin: $s-size $s-size 0 $s-size;
    padding: 10px 10px 10px 15px;
    font-family: $roboto;
}

.big_button_purple:hover {
    background-color: $purple;
    color: $white;
}

.big_button_white {
    border: none;
    border-radius: 1rem;
    color: #8EC853;
    font-weight: bold;
    font-size: $m-size;
    width: 51%;
    margin: 5% 15% 5% 5%;
    padding: 5% 4% 5% 5%;
    font-family: $roboto;
    text-align: center;
}

.big_button_white:hover {
    background-color: #8EC853;
    color: $white;
    border: none;
    text-align: center;
    border-radius: 1rem;
}

.submit_button {
    background: $purple;
    font-weight: bold;
    color: $white;
    font-size: $m-size;
    width: 51%;
    margin: 0 $s-size 5rem 10rem;
    padding: 1rem;
    font-family: $roboto;
}

.big_button:disabled {
    opacity: .5;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $white;
    padding: 0;
}

@media (min-width: $desktop-breakpoint) {
    .big_button {
        margin: 0 0 $xl-size 0;
    }
}