// colors
$off-black: #20222b;
$white: #FFFFFF;
$dark-blue: #FFFFFF;
$blue: #3c4251;
$purple: #582D82;
$light-blue: #00B5E2;
// Fonts
$roboto: 'Roboto-black';
$poppins: 'Poppins-black';
//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.4rem;
$xl-size: 4.8rem;
//mobile styles
$desktop-breakpoint: 45rem;